{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}


<div><h1> {{post_data.title}} </h1></div>
<!-- testing for route /posts/{{post_data.id}}-->
<div>
    <p>{{post_data.content}}</p>
    <br>
    <i>By {{post_data.user.first_name}} {{post_data.user.last_name}}</i>

</div>

<!--add buttons-->
<button ><a href="/posts/{{post_data.id}}/edit">Edit Post</a></button>
<!-- delete button needs to be in form and will post-->
<form action="/posts/{{post_data.id}}/delete" method="POST">
    <button>Delete Post</button>
</form>

{% endblock %}
