{% extends 'base.html' %}

<!-- {% block title %}My awesome page title{% endblock %} -->

{% block content %}

<h1>Edit a user</h1>

<!-- testing for route /users/{{user_data.id}}/edit -->

<form action="/users/{{user_data.id}}/edit" METHOD = "POST">
  <label for="first_name">First Name</label>
  <input type="text" name = "first_name" value = "{{user_data.first_name}}">

  <label for="last_name">Last Name</label>
  <input type="text" name = "last_name" value = "{{user_data.last_name}}">

  <label for="image_url">Image URL</label>
  <input type="text" name = "image_url" value = "{{user_data.image_url}}">


  <button type="submit">Edit</button>
</form>
  <button><a href="/users/{{user_data.id}}" class="btn">Cancel</a></button>

{% endblock %}