{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}


<div><h1> <img src="{{image_url}}">  {{first_name}} {{last_name}}</h1></div>
<!-- testing for /users/user_id -->
<div>
    <button><a href="/users/{{user_id}}/edit">Edit Profile</a></button>
    <br>
    <form action="/users/{{user_id}}/delete" method="POST">
        <button>Delete Profile</button>
    </form>
</div>

<div><h2>Posts</h2>
    <ul>
        {% for post in all_posts %}
        <li> <a href="/posts/{{post.id}}">{{ post.title }} </a></li>
        {% endfor %}
    </ul>
</div>


<button><a href="/users/{{user_id}}/posts/new">Add Post</a></button>

{% endblock %}